<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
      <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="hideModal()"></button>
    </div>
    <div class="modal-body">
      <img src={{avatar?.avatar}} alt="" class="avatar-img">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editAvatar()">Edit</button>
      <button (click)="deleteAvatar()" type="button" class="btn btn-danger">Delete </button>
    </div>
  </div>
</div>