<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">NG Cloudinary</a>
    <div class="d-flex mx-4">
      <button class="btn btn-outline-success" type="submit">Add Photo</button>
    </div>
  </div>
</nav>


<div class="container mt-5">
  <div class="avatar">
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674317052/hijab-g7055e8167_640.png" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674317052/hijab-g7055e8167_640.png" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674317052/hijab-g7055e8167_640.png" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674315975/6769264_60111.jpg" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
    <div class="avatar-list">
      <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674317052/hijab-g7055e8167_640.png" alt="" class="avatar-img"
        data-bs-target="#staticBackdrop" data-bs-toggle="modal">
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1674317052/hijab-g7055e8167_640.png" alt="" class="avatar-img">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
